

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.movie-poster{
    text-decoration: none;
}
.poster{
    display: block;
    opacity: 0.7;
    transition: transform 1s ease, opacity 1.2s ease;
}
.movie-poster:hover .poster{
    transform: scale(1.1);
    background-image: unset;
    opacity: 1;
}
blockquote{
    background-color: #eee;
    padding: 8px;
    margin-top: 25px;
}













